flows (2).json
[{"id":"b4f26cae.db806","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e82b0459.7b5408","type":"rpi-gpio out","z":"b4f26cae.db806","name":"LED","pin":"35","set":false,"level":"0","freq":"","out":"out","x":970,"y":260,"wires":[]},{"id":"a85a4ad6.ba7e48","type":"ui_switch","z":"b4f26cae.db806","name":"","label":"Grow Light","tooltip":"","group":"fd3d427f.1ea9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":210,"y":260,"wires":[["8440702c.6495f"]]},{"id":"8440702c.6495f","type":"timerswitch","z":"b4f26cae.db806","name":"","ontopic":"","offtopic":"","onpayload":"0","offpayload":"1","disabled":false,"schedules":[{"on_h":"06","on_m":"00","on_s":"00","off_h":"00","off_m":"00","off_s":"00","valid":true}],"x":430,"y":260,"wires":[["e82b0459.7b5408","4ec12ede.ee101","f96b2a01.559078"]]},{"id":"55732ced.957ad4","type":"function","z":"b4f26cae.db806","name":"Add Timestamp","func":"if (msg.payload === \"0\"){\n    msg.payload = \"1\"\n}else if (msg.payload === \"1\") {\n    msg.payload = \"0\"\n}\n\nmsg.status = msg.payload;\nmsg.time = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["b899f45b.4573c8"]]},{"id":"4ec12ede.ee101","type":"trigger","z":"b4f26cae.db806","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-10","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":650,"y":200,"wires":[["55732ced.957ad4"]]},{"id":"b899f45b.4573c8","type":"mongodb out","z":"b4f26cae.db806","mongodb":"97d1dbb0.f6a7d8","name":"smart-grow","collection":"data","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":1070,"y":200,"wires":[]},{"id":"f96b2a01.559078","type":"function","z":"b4f26cae.db806","name":"toNumber","func":"if(msg.payload === \"1\"){\n    msg.payload = 0\n}else{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["a85a4ad6.ba7e48"]]},{"id":"b3241e8c.b6d8","type":"mongodb in","z":"b4f26cae.db806","mongodb":"97d1dbb0.f6a7d8","name":"GetData","collection":"data","operation":"find","x":560,"y":380,"wires":[["af1a7ce2.7de46"]]},{"id":"410b0863.626478","type":"inject","z":"b4f26cae.db806","name":"","topic":"","payload":"50","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":380,"wires":[["f8ca77df.181bc8"]]},{"id":"af1a7ce2.7de46","type":"function","z":"b4f26cae.db806","name":"buildDataset","func":"var data = [];\n\nfor (var x of msg.payload){\n    if(x.status && x.time){\n        data.push({ \"x\": Number(x.time), \"y\": Number(x.status) });\n    }\n}\n\nmsg.payload = [{\n    \"series\":[\"A\"],\n    \"data\":[data],\n    \"labels\":[\"\"]\n}];\n\n// var time=[];\n// var temp=[];\n// var time_float = 0;\n// var temp_float=0;\n\n// temp[0] = 24.5\n// temp[1] = 26.31\n// temp[2] = 24.43\n// temp[3] = 23.95\n\n// time[0] = 1552215913000 // Sunday March 10, 2019 22:05:13\n// time[1] = 1552267716000 //Monday March 11, 2019 12:28:36 \n// time[2] = 1552363351000 //Tuesday March 12, 2019 15:02:31 \n// time[3] = 1552474514000 //Wednesday March 13, 2019 21:55:14\n\n// var i=0;\n// var dataarray = [[]];\n\n// for (i=0; i< 4; i++) {\n// time_float = Number(time[i]);\n// temp_float = Number(temp[i]);\n// dataarray[0][i] = {\"x\":time_float,\"y\":temp_float};\n\n// }\n\n// var chart = [{\n//     \"series\":[\"Temperature =\"],\n//     \"data\":dataarray,\n//     \"labels\":[\"\"]\n// }];\n\n// msg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["9677228e.d983e"]]},{"id":"f8ca77df.181bc8","type":"function","z":"b4f26cae.db806","name":"GetTop5","func":"msg.sort = { $natural: -1 };\nmsg.limit = 50;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["b3241e8c.b6d8"]]},{"id":"9677228e.d983e","type":"ui_chart","z":"b4f26cae.db806","name":"","group":"fd3d427f.1ea9","order":1,"width":0,"height":0,"label":"Light Schedule","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":380,"wires":[[]]},{"id":"f89e521a.14b44","type":"eztimer","z":"b4f26cae.db806","name":"Timer","debug":false,"autoname":" - ","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"-25.796271388235297","lon":"28.28710722352941","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"dawn","ontimetod":"","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":"0","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":"1","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":750,"y":640,"wires":[["945ea6d3.6f8588","5a384929.66ac98"]]},{"id":"418803ea.2a8f9c","type":"function","z":"b4f26cae.db806","name":"ConvertState","func":"if(msg.payload === 1){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["f89e521a.14b44"]]},{"id":"52a8bda9.8e5db4","type":"inject","z":"b4f26cae.db806","name":"Initialize","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"0","x":240,"y":580,"wires":[["aaa8c465.73ffa8"]]},{"id":"aaa8c465.73ffa8","type":"function","z":"b4f26cae.db806","name":"SetTimer","func":"msg.payload = {\n    \"offtime\": \"00:00\",\n    \"ontime\": \"06:00\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["f89e521a.14b44"]]},{"id":"945ea6d3.6f8588","type":"rpi-gpio out","z":"b4f26cae.db806","name":"LED2","pin":"31","set":"","level":"0","freq":"","out":"out","x":990,"y":640,"wires":[]},{"id":"98bd2067.0cd13","type":"ui_switch","z":"b4f26cae.db806","name":"Grow Light 2","label":"Grow Light 2","tooltip":"","group":"fd3d427f.1ea9","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":780,"wires":[["418803ea.2a8f9c"]]},{"id":"5a384929.66ac98","type":"function","z":"b4f26cae.db806","name":"SetState","func":"if(msg.payload === 0){\n    msg.payload = 1;\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":780,"wires":[["98bd2067.0cd13"]]},{"id":"fd3d427f.1ea9","type":"ui_group","z":"","name":"Controls","tab":"a8b8cb02.402b98","order":1,"disp":true,"width":"6","collapse":false},{"id":"97d1dbb0.f6a7d8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"smart-grow","name":"smart-grow"},{"id":"a8b8cb02.402b98","type":"ui_tab","z":"","name":"Smart-Grow","icon":"dashboard","disabled":false,"hidden":false}]